@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-blue: #5800ff;
  --color-pink: #e900ff;
  --color-yellow: #ffc600;
  --color-blue-2: #3edbf0;
  --color-neon: #54e346;

  --max-width: 800px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
